
body
{
  background: url(../img/fond2.jpg)no-repeat fixed;
  background-size:cover;
/* word-wrap: break-word;*/
}
header
{
/*background: url(img/essai.png)no-repeat top right, url(img/bout.png);
background-blend-mode: lighten;/* fuision des deux img*/
}
h1
{
  text-shadow: 5px 10px 9px pink;
  color: white;
  margin-top: 6%;
}
h2
{
  text-align: center;
  text-decoration: underline;
  text-decoration-style:double;
}
h3{
  color : white;
}
.banniere
{
  height: 150px;
  text-align: center;
}
nav
{
	display: inline;/* pour avoir la nav horizontale*/
  border-radius:30%;/*bord arrondis*/
  font-size: 15px;
}
#fleche1
{
padding-left:  50%;
margin-top: 2%;
}
#fleche2
{
padding-left:  50%;
margin-top: 2%;
}
#fleche3
{
padding-left:  50%;
margin-top: 2%;
}
#fleche4
{
padding-left:  50%;
margin-top: 2%;
}
#fleche5
{
padding-left:  5%;
margin-top: 2%;
}
.presentation
{
  background-color:rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 22px;
  text-align: center;
  color:black;
  border-radius:15%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  margin-top: 15%;
  /*background-image: linear-gradient(white 0%, #272727 100%);/* degradé de gris sur ma bulle*/
}
.formation
{
  background-color:rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 19px;
  font-style: italic;
  border-radius: 10%;/*pour les bords arrondis*/
  box-shadow: 6px 6px 50px white;/*pour ajouter une ombre*/
  color: black;
  margin-top: 5%;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
.competences
{
  background-color:rgba(193, 193, 193, 0.5) ;
  font-family:monospace;/* police d'écriture*/
  font-size: 19px;/* taille de la police*/
  color:black;/*couleur du texte*/
  border-radius: 10%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  margin-top: 5%;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
#progress
{
  text-align: center;
}
.experiences
{
  background-color:rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 22px;
  text-align: center;
  color:black;
  border-radius:10%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  padding: 6%;
  margin-top: 5%;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
.loisirs
{
  background-color: rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 19px;
  text-align: center;
  color:black;
  border-radius: 30%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  margin-top: 5%;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
footer
{
  background-color: rgba(193, 193, 193, 0.5);
  text-align: center;
  margin-top: 5%;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
  color: black;
}
.coordonnées
{
  font-family: monospace;
  font-size: 18px;
  color: black;
}
#decor
{
    width: 10%;
    height:10px;
}

@media(max-width:999px)
{
  #decor
  {
    display: none;
  }
}
