
body
{
  background: url(../img/fond2.jpg)no-repeat fixed;
  background-size:cover;

/* word-wrap: break-word;*/
}
header
{
/*background: url(img/essai.png)no-repeat top right, url(img/bout.png);
background-blend-mode: lighten;/* fuision des deux img*/
}
h1
{
  text-shadow: 5px 10px 9px pink;
  color: white;
  margin-top: 6%;
}
h2
{
  text-align: center;
  text-decoration: underline;
  text-decoration-style:double;
  font-family: 'Indie Flower', cursive;
}
h3{
  color : white;
  font-family: 'Indie Flower', cursive;
}
.job{
  font-size: 2.5em;
}
h4{
  text-decoration: underline;
  font-family: 'Indie Flower', cursive;

}
.banniere
{
  height: 150px;
  text-align: center;
}

button{
	display: inline-block;/* pour avoir la nav horizontale*/
  border-radius: 30%;/*bord arrondis*/
  font-size: 15px;
  background: #F9D6F9;
  border: 1.5px solid #C6B7AA ;
  color: #944C94 ;
  padding: 5px 7px;
  margin-top: 70px;
  cursor: pointer;
  font-weight: bold;
}

#fleche1
{
padding-left:  50%;
margin-top: 2%;
}
#fleche2
{
padding-left:  50%;
margin-top: 2%;
}
#fleche3
{
padding-left:  50%;
margin-top: 2%;
}
#fleche4
{
padding-left:  50%;
margin-top: 2%;
}
#fleche5
{
padding-left:  5%;
margin-top: 2%;
}
.presentation
{
  background-color:rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 22px;
  text-align: center;
  color:black;
  border-radius:15%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  margin-top: 15%;
  /*background-image: linear-gradient(white 0%, #272727 100%);/* degradé de gris sur ma bulle*/
}
.formation
{
  background-color:rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 19px;
  font-style: italic;
  border-radius: 10%;/*pour les bords arrondis*/
  box-shadow: 6px 6px 50px white;/*pour ajouter une ombre*/
  color: black;
  margin-top: 5%;
  width: 80%;

  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
.competences
{
  background-color:rgba(193, 193, 193, 0.5) ;
  font-family:monospace;/* police d'écriture*/
  font-size: 19px;/* taille de la police*/
  color:black;/*couleur du texte*/
  border-radius: 10%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  margin-top: 5%;
  text-align: center;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
.titres{
  color: black;
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#progress
{
  text-align: center;
  padding: 20px;
  margin: 0;
}
.progress{
  width: 350px;
}
@media screen and (max-width:500px) {
  .progress{
    width: 200px;
  }
}
.experiences
{
  background-color:rgba(193, 193, 193, 0.5);
  font-family:;
  font-size: 22px;
  text-align: center;
  color:black;
  border-radius:5%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  padding: 6%;
  margin-top: 5%;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
.loisirs
{
  background-color: rgba(193, 193, 193, 0.5);
  font-family:monospace;
  font-size: 19px;
  text-align: center;
  color:black;
  border-radius: 30%;/*bord arrondis*/
  box-shadow: 6px 6px 50px white;/* ajouter une ombre*/
  margin-top: 5%;
  margin-bottom: 20px;
  /*background-image: linear-gradient(white 0%, #272727 100%);*/
}
footer
{
  background-color: rgba(193, 193, 193, 0.5);
  text-align: center;

  /*background-image: linear-gradient(white 0%, #272727 100%);*/
  color: black;

}

.coordonnées
{
  font-family: monospace;
  font-size: 18px;
  color: black;
  margin-left: 30%;
}
#decor
{
    width: 10%;
    height:10px;
}
/*icon pdf*/
#pdf{
  cursor: pointer;
}
/*fenetre modale du cv pdf*/
.close {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #FFF;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
}
.close:hover, .close:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}
.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 height: 500px;
}
.modal {
 display: none;
 position: fixed;
 z-index: 9999;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.9);
 }
/*FIN de la fenetre modale cv pdf*/
@media(max-width:999px)
{
  #decor
  {
    display: none;
  }
}
